@keyframes changeSize {
  from {
    transform: scale(0.85, 0.9);
  }

  to {
    transform: scale(1.0, 1.0);
  }
}

.App {
  height: 100%;
  width: 100%;
}

.heart {
  animation-duration: 1s;
  animation-name: changeSize;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.heart:hover {
  animation-duration: 0.5s;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255,255,255,0.8); 
}